*{
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}
.container{
  margin-right:100px;
  margin-left:100px;
}

/*-------------------------------- Header ------------------------------*/
.header{
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background-policy.jpg);
  min-height:100vh;
  width:100%;
  background-size:cover;
  background-position:center;
  position:relative;
} 
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2% 6%;
}
nav img{
  width:100px;
  border-radius:100px;
}
.nav-menu{
  flex:1;
  text-align:right;
}
.nav-menu ul li{
  list-style:none;
  display:inline-block;
  padding:8px 10px;
  position:relative
}
.nav-menu ul li a{
  color:white;
  text-decoration:none;
  font-size:13px;
}
.profile-picture img{
  width:50px;
  margin:20px;
  border-radius:100px;
}

/*-------------------------------- Policy-Banner ------------------------------*/
.policy-banner{
  color:white;
  width:85%;
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.policy-banner h1{
  font-size:65px;
  font-weight:bold;
}
.policy-banner p{
  margin:10px 0 40px;
  font-size:14px;
}

/*-------------------------------- Price-cards ------------------------------*/
.price-cards{
  display:flex;
  justify-content:space-between;
  margin:5%;
}
.card-price{
  flex-basis:31%;
  background:#d9f4ff;
  text-align: center;
  border-radius:10px;
  padding:20px 12px;
  margin-bottom:5%;
  box-sizing:border-box;
  transition: 0.15s;
}
.card-price a{
  text-decoration:none;
  color:black
}
.card-price h3{
  font-weight:600;
  margin:10px 0;
}
.card-price:hover{
  box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
.card-price h2{
  font-size:30px;
  color:rgb(77, 77, 77);
}
.card-price p{
  color:#777;
  font-size:14px;
  font-weight:300;
  line-height:22px;
  padding:10px;
}

/*-------------------------------- Inquiries ------------------------------*/
.inquiries-form{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}
.inquiries-left-col,.inquiries-right-col{
  flex-basis:50%;
}
inquiries-left-col ,h1{
  font-size: 40px;
}
.inquiries-right-col{
  width:100%;
}
.inquiries-right-col,img{
  width:100%;
  height:100%;
}

form{
  max-width:350px;
  margin:30px 0;
}
form input{
  width:100%;
  padding:12px 10px;
  margin-bottom:5px;
  box-sizing:border-box;
  outline:none;
  border:2px solid #92daf7;
  border-radius:10px;
}
.text-box{
  height:100px;
}
.inquiries-button{
  width:100%;
  display:flex;
  justify-content:space-between;
}
button{
  flex-basis:50%;
  padding:18px 0;
  border:2px solid #92daf7;
  margin:5px;
  border-radius: 10px;
  box-sizing:border-box;
  transition: 0.25s;
}

button:hover{
  color:white;
  background-color: #92daf7;
}

/*-------------------------------- Footer ------------------------------*/
.footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  margin-left:100px;
  margin-right:100px;
}
.footer-logo{
  flex-basis:31%;
  width:15px;
}

.footer-sitemap{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  flex-basis:50%;
}
.footer-sitemap ul li{
  list-style:none;
  font-size: 15px;
}

.footer-sitemap ul li a{
  color:black;
  text-decoration:none;
  font-size:13px;
}