
/*-------------------------------- List of Inquiries ------------------------------*/
.container h2{
  font-size: 45px;
  font-weight:600;
  margin:30px;
} 

.btnNewinquiry {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom:5px;
  transition: 0.15s;
}

.btnNewinquiry:hover{
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
}

.btnNewinquiry:active{
  background-color: #0059b8;
  color: #fff;
}

/*-------------------------------- Table ------------------------------*/
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px 0 100px 0;
}

.table th,
.table td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #0062cc;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.btnEdit,
.btnDelete {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnEdit:hover,
.btnDelete:hover {
  background-color: #0059b8;;
}
